.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  .logo-container {
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    .nav-link {
      margin: 0 1rem;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #f00;
      }
    }
  }
}
