@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.checkout-container{
  overflow-x: auto;
}

.checkout-items-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: $background-color;  

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  .checkout-item-img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .checkout-item {
    &:hover {
      background-color: $color-6;
      cursor: pointer;
    }
  }
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.2em;
}

.checkout-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;

    &:hover {
      background-color: #45a049;
    }
  }
}
